@charset "UTF-8";
/*VARIABLES*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: grey solid 1px;
  width: 100%;
  height: 667px;
  position: relative;
  background-image: url(../pictures/lampos-aritonang-24gR_9lCdes-unsplash\ 1.png);
}

.logo {
  position: absolute;
  left: 20px;
  top: 20px;
}

h1 {
  color: #ffd15b;
  text-align: center;
  font-family: "Anton";
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 890px;
}

#searchbar {
  display: flex;
  align-items: center;
  padding-right: 10px;
  font: "Manrope";
  width: 66%;
  height: 72px;
  background-color: #f1f1f1;
  border-radius: 11px;
}
#searchbar input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}
#searchbar button {
  background: black;
  border: none;
  width: 51px;
  height: 52px;
  border-radius: 11px;
}

main {
  background: #ededed;
}

.sort {
  padding: 25px 104px 20px 104px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
.sort .button {
  height: 22px;
  background-color: #fff;
  border-radius: 14px;
  display: inline-flex;
  margin-left: 25px;
  padding: 17px 16px;
  align-items: center;
  gap: 63px;
  border-radius: 11px;
  color: Black;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}

.fa {
  width: 13px;
  height: 6px;
  stroke-width: 1px;
  padding: 0;
  margin: 0;
}

.fa-chevron-up {
  display: none;
}

.chevron-up [data-active=false], .chevron-down[data-active=false] {
  display: none;
}

.searchsort {
  width: 250px;
}

.innersearchsort {
  background-color: #fff;
  border-radius: 14px;
}

.search-input {
  margin-left: 25px;
  width: 180px;
  height: 28px;
  position: sticky;
  top: 0;
}

.select-search {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  position: sticky;
  right: 45px;
}

.loupe {
  height: 13px;
  width: 13px;
}

.dropdown-item {
  display: block;
}

#dropdown1,
#dropdown2,
#dropdown3 {
  height: 275px;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  width: 100%;
  font-size: 16px;
  padding: 5px;
  margin-top: 0;
}

#dropdown1,
#dropdown2,
#dropdown3 {
  display: none; /* For Chrome, Safari and Opera */
}

.dropdown-item {
  display: block;
  text-decoration: none;
  text-align: center;
  color: grey;
  font-family: "Manrope";
  margin-top: 2px;
}

.dropdown-item:hover {
  background-color: #ffd15b;
}

.dropdown_container {
  display: flex;
  justify-content: space-evenly;
  gap: 55px;
}

.labels {
  display: none;
  position: relative;
  display: inline-flex;
  padding: 17px 16px;
  align-items: center;
  gap: 63px;
  border-radius: 11px;
  background: #fff;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  border: grey solid 1px;
  position: relative;
  display: inline-flex;
  padding: 17px 16px;
  align-items: center;
  gap: 63px;
  border-radius: 11px;
  background: #fff;
  /*change to data active*/
}
.dropdown:hover ~ .labels {
  border: #ffd15b solid 1px;
  display: flex;
}
.dropdown:hover ~ .labels::after {
  content: "catégorie";
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-item:hover {
  cursor: pointer;
}

.tag_section {
  display: flex;
  padding: 25px 104px 20px 104px;
  gap: 55px;
}

.searchtag {
  border-radius: 12px;
  cursor: pointer;
  min-width: 100px;
  background-color: #ffd15b;
  font-size: 16px;
  font-family: "Manrope";
  display: inline-flex;
  padding: 17px 18px;
  align-items: center;
  gap: 60px;
  color: #000;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lightbox {
  display: none;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 102px 205px 102px;
  position: relative;
  gap: 35px;
}

.nb_recipes {
  font-family: "Anton";
  font-size: 21px;
}

#resultmsg {
  color: #ffd15b;
  text-align: center;
  font-family: "Anton";
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 731px;
  flex-shrink: 0;
  border-radius: 21px;
  background: #fff;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
  position: relative;
}
.card h2 {
  margin: 0;
  color: #000;
  font-family: Anton;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card[data-visible=false] {
  display: none;
}

.card[data-visible=true] {
  display: flex;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  cursor: pointer;
  transform: perspective(2000px) translate3d(0px, 0px, 50px);
  outline: none;
}

.card[data-hover=false]:hover {
  transform: none;
}

.cardImg {
  min-height: 253px;
  object-fit: cover;
  border-radius: 21px 21px 0 0;
}

.timetag {
  position: absolute;
  right: 20px;
  top: 20px;
  display: inline-flex;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 14px;
  background: #ffd15b;
  width: 65px;
  height: 26px;
  font-family: "Manrope";
}

.card_content {
  padding: 25px;
  height: 65%;
  gap: 32px;
  font-family: "Manrope";
  overflow: scroll;
  scrollbar-width: none;
}
.card_content h3 {
  margin-bottom: 0;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card_content h4 {
  margin-bottom: 0;
  padding: 0;
  color: var(--Grey, #7A7A7A);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}

.card_content-recette {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-height: 32%;
  word-wrap: break-word;
  overflow: clip;
  justify-content: flex-start;
  margin-top: 0;
}

.recette {
  display: flex;
  align-items: flex-start;
  color: #1b1b1b;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
}

.card_content-ingredients {
  list-style-type: none;
  display: flex;
  height: 37%;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: clip;
  word-wrap: break-word;
  padding-left: 0;
  align-items: flex-start;
  gap: 5px;
}

.ingredient {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #1b1b1b;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 50%;
}

.quantité {
  color: #7a7a7a;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

*[data-hidden=true] {
  display: none;
}

.appl[data-hidden=false] {
  border: greenyellow solid 1px;
}

.hidden[data-hidden=false] {
  display: flex;
  font-family: inherit;
}
.hidden[data-hidden=false] h3 {
  margin-bottom: 0;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card[data-lightbox=true] {
  overflow: scroll;
  scrollbar-width: none;
  position: relative;
}
.card[data-lightbox=true] .card_content-recette, .card[data-lightbox=true] .card_content-ingredients {
  overflow: scroll;
  scrollbar-width: none;
}
.card[data-lightbox=true] .usts {
  list-style: none;
  color: #7a7a7a;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 7px;
}
.card[data-lightbox=true] .appl {
  color: #7a7a7a;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 5px;
}

.lightbox {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(255, 198, 91, 0.4);
}

.lightbox[data-active=true] {
  display: flex;
  justify-content: center;
  align-items: center;
}

#closeLB {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 20px; /* Adjust this value to change the position of the button */
  right: 70px; /* Adjust this value to change the position of the button */
  background: transparent;
  font-family: "Anton";
  font-size: large;
  letter-spacing: 2px;
  color: rgb(255, 165, 91);
}

#toque {
  fill: #ffd15b;
}

@media (min-width: 413px) and (max-width: 809px) {
  h1 {
    width: 90%;
  }
  .sort, .card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sort {
    padding: 20px 25px;
    margin-left: -30px;
  }
  .dropdown_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .tag_section {
    padding: 0;
  }
  #resultmsg {
    padding: 0;
  }
  .nb_recipes {
    position: relative;
    left: 17px;
  }
  .card_container {
    padding: 0 10px;
  }
  .tag_section[data-active=true] {
    display: flex;
    flex-direction: column;
    padding: 50px 95px;
  }
  .searchtag {
    display: flex;
    justify-content: center;
  }
  #resultmsg[data-active=true] {
    padding: 50px 0px;
    font-size: 38px;
  }
  .card {
    width: 100%;
  }
  .card[data-lightbox=true] {
    width: 70%;
    height: 90%;
  }
  #closeLB {
    position: fixed;
    right: 13px;
    font-size: smaller;
    letter-spacing: normal;
  }
}
@media (min-width: 810px) and (max-width: 1081px) {
  header {
    height: 550px;
  }
  .sort {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 70px 10px 10px 10px;
  }
  .dropdown_container {
    flex-wrap: wrap;
    align-items: center;
  }
  .tag_section {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 23px;
  }
  .searchtag {
    width: 20%;
    justify-content: center;
  }
  .card_container {
    padding: 5px;
    justify-content: center;
  }
  .card {
    width: 45%;
  }
  .card[data-lightbox=true] {
    width: 68%;
    height: 90%;
  }
  #closeLB {
    position: fixed;
    right: 80px;
    font-size: smaller;
    letter-spacing: normal;
  }
}

/*# sourceMappingURL=custom.css.map */
